@import url("common.css");

main {}

.main_img {
    width: 100%;

}

.main_img img {
    width: 100%;

}

.main_img>div {
    width: 1400px;
    margin: 0 auto;
    position: relative;
    bottom: 300px;
    color: #fff;
    text-align: right;

}



.main_img>div>h1 {
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.main_img>div>p {
    margin-top: 38px;
    margin-bottom: 30px;
}

.main_img>div>a {
    color: #fff;
    font-size: 11px;
    border-bottom: 1px solid #fff;
}

.news {
    width: 1400px;
    margin: 0 auto;
    margin-top: 400px;
    
}

.news>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
 
}

.news>div>h1 {
    color: #800000;
    font-size: 48px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

.news>div>a {
    color: black;
    font-size: 12px;
    border-bottom: 1px solid #000;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
}

.news>figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 500px;
    
    


}

.news>figure>a {

    position: relative;
    transition: .5s;
   

}

.news>figure>a>img {

    width: 430px;
    margin: 0 20px 65px 0;
    
    
}



.news>figure>a>div {
    
    position: absolute;
    left: 48%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    
    
}



.news>figure>a>div>b {
    font-size: 20px;
}


.news>figure>a>div>p {
    margin-top: 20px;
    font-size: 12px;
}

.news>figure>a:hover {
    transform: scale(1.1);

}


.HotClip {
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 300px;
}

.HotClip>div:nth-of-type(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 170px;
    margin-bottom: 100px;
}

.HotClip>div:nth-of-type(1)>h1 {
    color: #800000;
    font-size: 48px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

.HotClip>div:nth-of-type(1)>a {
    color: #000;
    font-size: 12px;
    border-bottom: 1px solid #000;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
}

.HotClip>div:nth-of-type(2) {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    position: relative
}

.HotClip>div:nth-of-type(2)>a:hover {
    transform: scale(1.1);
    transition: .5s;
}

.HotClip>div:nth-of-type(2)>a>iframe {}

.HotClip>div:nth-of-type(2)>a {
    transition: .5s;
}

.HotClip>div:nth-of-type(2)>a>p {
    color: #000;
    margin-bottom: 40px;
}

.HotClip>div:nth-of-type(2) {
    margin-bottom: 200px;
}