main>div {}



/* .nav */
.nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}


.nav>img {
    width: 100%;
}

.nav>div {
    position: absolute;
    left: 43%;
    top: 40%;
    margin: 0 auto;
    width: 250px;
    color: #fff;
    text-align: center;
}

.nav>div>h3 {
    font-size: 32px;
}

.nav>div>h2 {
    font-size: 48px;
}

/* =================== */



.nav-menu{
    width: 100%;
    height: 100px;
    background-color:
        rgba(103, 103, 103, 0.2);}


.nav-menu>ul{ width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;}


.nav-menu>ul>li{margin: 35px 0;}

.nav-menu>ul>li>a{
    color: black;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}


.nav-menu>ul>li:nth-of-type(1)>a{ margin-right: 180px;}


.nav-menu>ul>li>a.active{
    color: #9c0000;
}
