@import url("common.css");
@import url("nav.css");

body {
    font-family: 'Noto Sans KR', sans-serif;
}


/* Notice  */
.Notice {
    width: 1400px;
    margin: 0 auto;
}

.Notice>h2 {
    font-size: 60px;
    color: #800000;
    margin-top: 160px;
    margin-bottom: 115px;
}

.Notice>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.Notice>div>h3 {
    font-size: 20px;
    border-bottom: 2px solid #000;
}


.search {
    width: 1400px;
    
    position: relative;
}

input {
    width: 100%;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 25px;
    font-size: 14px;
}

.board {
    width: 100%;
    margin-bottom: 145px;
}

.board th {
    font-size: 20px;
    text-align: center;
    padding: 30px 80px;
    border-top: 3px solid #800000;
    border-bottom: 2px solid #000;
}

.board td {
    width: 1400px;
    font-size: 18px;
    text-align: center;
    padding: 20px 80px;

}


#not {
    color: #800000;
    font-weight: 700;
    border-bottom: 2px solid #C5C0C0;
}

#bt {
    border-bottom: 2px solid #C5C0C0;
}

#page {

    font-size: 25px;
}

/* Notice  */

.press_release {
    width: 1400px;
    margin: 0 auto;

}

.press_release>h2 {
    font-size: 60px;
    color: #800000;
    margin-top: 160px;
    margin-bottom: 115px;
}

.press_release>div {
    width: 1400px;
    display: flex;
    margin-bottom: 70px;
    font-size: 18px;
    
}


.press_release>div>a {
    color: #C5C0C0;
}

.press_release>div>a:nth-of-type(1)>h3 {
    margin-right: 100px;
    color: #800000;
}

.search2>input {
    width: 300px;
    margin-bottom: 15px;

}

#NS {
    color: #C5C0C0;
}

#HC {
    color: #800000;
}

#head {
    border-bottom: 3px solid #800000;
    
}

.news {
    width: 1400px;
    margin: 0 auto;
}

.news>div {
    width: 100%;
    margin-bottom: 100px;
}

.news>div>h1 {
    color: #800000;
    font-size: 48px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

.news>figure>a {
    color: black;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}

.news>figure {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;

}

.news>figure>a {
    position: relative;

}

.news>figure>a>img {
    width: 400px;
}

.news>figure>a>div {
    width: 350px;
    text-align: left;
    display: block;
}



.news>figure>a>div>h3 {
    margin-top: 20px;
    font-size: 20px;
}


.news>figure>a>div>p {
    color: #717171;
    margin-top: 20px;
    font-size: 14px;
}

.news>figure>a>div>p:nth-child(3) {
    color: #800000;
    font-weight: 700;
    margin-bottom: 30px;
}

.press_release>span {
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin: 120px 0;
}

.press_release>span>div {
    margin-bottom: 110px;
}

/* 회원사 */

.info_1 {
    width: 1400px;
    margin: 0 auto;
}

.guide {}

.guide>h2 {
    font-size: 60px;
    color: #800000;
    margin-top: 150px;
}

.guide>p {
    margin-top: 60px;
    margin-bottom: 90px;
    font-size: 20px;
    color: #7b7b7b;
}

.guide>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.guide>div>span {
    width: 300px;
    height: 300px;
    border: 1px solid rgba(230, 230, 230, 0.863);
    box-shadow: 5px 10px 10px rgba(172, 172, 172, 0.452);
    color: #800000;
    font-size: 18px;
    font-weight: 700;
    padding: 120px 50px;
    text-align: center;
    display: block;
    margin: 20px 20px;
}

.guide>button {
    width: 900px;
    margin: 150px 250px;
    padding: 40px 320px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 60px;
    box-shadow: 5px 10px 10px rgba(172, 172, 172, 0.452);
    border: 0;
    background-color: #800000;
}

.guide>button>a {
    color: #fff;
}

.info {}

.info>h2 {
    font-size: 60px;
    color: #800000;
    margin-top: 150px;
    margin-bottom: 100px;
}

.info>p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
}

.info>table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#top {
    border-top: 3px solid #800000;
    border-bottom: 2px solid #000;

}

.info>table thead tr th {
    padding: 30px;
    text-align: center;
    font-size: 20px;
}


.info table tbody tr td {
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid #000;

}

#rt {
    border-right: 2px solid #000;
}

.info>h3 {
    font-size: 25px;
    font-weight: 800;
}

.btn {
    width: 100%;
    margin: 200px 250px;
}

.btn>button {
    width: 350px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 0;
    background-color: #800000;
    margin-right: 300px;
    padding: 20px 80px;
    border-radius: 80px;
    text-align: center;
}

.btn>button>a {
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 가입가이드 */

a#MOVE_TOP_BTN {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #800000;
    position: fixed;
    right: 2%;
    bottom: 400px;
    display: none;
    z-index: 999;
    border: 3px solid #800000;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
}